doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="shrink-to-fit=no, initial-scale=1.0, width=device-width")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    link(rel="icon", type="image/png", href="./favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="./favicon-16x16.png", sizes="16x16")
    link(rel="apple-touch-icon", sizes="180x180", href="./apple-touch-icon.png")
    link(rel="manifest", href="./site.webmanifest")
    link(rel="icon", href="./favicon.ico")
    title Zic Top
    //- пути не обрабатываются вебпаком
    <link rel="preload" href="./assets/images/ball-ltr-ei.png" as="image"> 
    <link rel="preload" href="./assets/images/ball-ltr-eo.png" as="image">
    <link rel="preload" href="./assets/images/ball-ttd-eo.png" as="image">
    //- <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-88014128-34")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-88014128-34');
      setTimeout(function(){
        gtag('event', location.pathname, {
        'event_category': 'Не отказ'
        });
      }, 10000);
    
      //- <!-- Yandex.Metrika counter -->
    script.
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(42193809, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        trackHash:true,
        webvisor:true,
      });
    <noscript><div><img src="https://mc.yandex.ru/watch/42193809" style="position:absolute; left:-9999px;" alt=""/></div></noscript>
      //- <!-- /Yandex.Metrika counter -->

      //- <!-- Top100 (Kraken) Counter -->
    script.
      (function (w, d, c) {
        (w[c] = w[c] || []).push(function() {
          var options = {
              project: 7482706,
          };
          try {
            w.top100Counter = new top100(options);
          } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src =
        (d.location.protocol == "https:" ? "https:" : "http:") + "//st.top100.ru/top100/top100.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(window, document, "_top100q");
    <noscript><img src="//counter.rambler.ru/top100.cnt?pid=7482706" alt="Топ-100"/></noscript>
    //- <!-- END Top100 (Kraken) Counter -->

body
  #app



    .js-section.js-section-100vh
      header.header.group1__header
        .container.header__container
          a.header__logo1.js-logo_zictop(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank")
            img(src=require("@/assets/images/zictop_logo.svg"))
          .header__logo2
            img(src=require("@/assets/images/skzic_logo.svg"))
          a.header__logo3(href="https://www.championat.com/" target="blank")
            img(src=require("@/assets/images/champ_logo.png"))
      .title
        .container.title__container
          .decor.title__decor.js-title-decor(data-aos="fade-right" data-aos-delay="900" data-aos-anchor-placement="top-bottom")
            img(src=require("@/assets/images/zic_bottle2.png"))
            span TOP состав - 
            span основа победы!
          h2.title__head(data-aos="fade-right" data-aos-delay="200") Каждый топ-клуб —<br> это большая история<br> и миллионы болельщиков.
          p.title__text.title__text--mb(data-aos="fade-right" data-aos-delay="400") В «Барселоне» к команде относятся особенно трепетно. Девиз Mes que un club — не просто<br> пафосные слова. Для Каталонии «Барса» действительно больше, чем клуб. Это самый<br> узнаваемый в мире символ свободолюбивой автономии, предмет её безграничной гордости.<br> И гордости совершенно обоснованной.
          p.title__text(data-aos="fade-right" data-aos-delay="600") «Чемпионат» совместно с ZIC — производителем премиальных моторных масел и официальным<br> спонсором ФК «Барселона» — представляет главные моменты в истории каталонского гранда.<br> Проникнитесь величием одного из самых популярных и успешных клубов планеты.
          a.arrow-link.title__link.js-arrow-down-button
            <svg width="45" height="45" fill="none" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg">
              <circle fill="transparent" cx="22.5" cy="22.5" r="22" transform="rotate(90 22.5 22.5)" stroke="white"/>
              <path d="M22.1464 32.2593C22.3417 32.4545 22.6583 32.4545 22.8535 32.2593L26.0355 29.0773C26.2308 28.882 26.2308 28.5654 26.0355 28.3702C25.8403 28.1749 25.5237 28.1749 25.3284 28.3702L22.5 31.1986L19.6716 28.3702C19.4763 28.1749 19.1597 28.1749 18.9645 28.3702C18.7692 28.5654 18.7692 28.882 18.9645 29.0773L22.1464 32.2593ZM22 13.0942L22 31.9057L23 31.9057L23 13.0942L22 13.0942Z" fill="#D8A745"/>
            </svg> 



    .container.main__container.js-section
      .main__item
        a.decor.main__decor.main__decor--1st(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-right" data-aos-delay="0")
          img(src=require("@/assets/images/zic_bottle2.png"))
          span TOP
        .main__box1
          .test.main__test.test--hidden.js-test
            .test__content
              .test__ques Где проводила первые матчи «Барселона»?
              ul.test__list.js-test-list
                li.test__item
                  .test__label.js-test-label.js-right-label Велодром
                  .test__right.test__right--hidden.js-right
                    span Верно
                    p Это был велодром района Бонанова.
                li.test__item
                  .test__label.js-test-label Ипподром
                li.test__item
                  .test__label.js-test-label Арена для корриды
                li.test__item
                  .test__label.js-test-label Поле для гольфа
              input.test__btn.js-answer-button(type="button" disabled="true" value="Ответить")
              button.test__btn.test__btn--hidden.js-test-close-button.js-continue-button Продолжить 
              .test__close.js-test-close-button

          span.main__year(data-aos="fade-up" data-aos-delay="100") 1899
          h3.main__head(data-aos="fade-up" data-aos-delay="200") Основание «Барселоны»
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="300") Футбол по миру распространили англичане. А «Барселона» появлением на свет обязана швейцарцу. Уроженец Винтертура, бухгалтер, журналист и футболист в одном лице Ханс-Макс Гампер (на фото с газетой по центру) собирался делать бизнес в Африке. Но, завернув в столицу Каталонии, был так ею очарован, что поменял планы, взял имя Жоан и организовал футбольную команду. Сам 22-летний отец-основатель довольствовался в ней ролью капитана.
          p.main__text(data-aos="fade-up" data-aos-delay="400") Днём рождения «Барсы» считается 29 ноября 1899 года. В первом матче, против местных англичан, «Барселона» уступила — 0:1. Спустя пять дней было принято решение о слиянии команд, а ещё через полторы недели объединённая «Барса» обыграла местную «Каталу» — 3:1. Первые голы в истории клуба забил сам Гампер. В президентское кресло Жоан сел уже в новом столетии, зато сразу на 25 лет (с перерывами).
          button.btn.main__btn.js-test-button(data-num="0" data-aos="fade-up" data-aos-delay="500") Пройти тест 
        .main__box2
          img(src=require("@/assets/images/main_01.jpg") data-aos="fade-up" data-aos-delay="0")



    .container.main__container.js-section
      .main__item.main__item--reverse
        a.decor.main__decor.main__decor--2nd(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-left" data-aos-delay="0")
          img(src=require("@/assets/images/zic_bottle2.png"))
          span TOP Состав
        .main__box1
          .test.main__test.test--hidden.js-test
            .test__content
              .test__ques Кто из российских футболистов выступал за «Барсу»?
              ul.test__list.js-test-list
                li.test__item
                  .test__label.js-test-label Андрей Аршавин
                li.test__item
                  .test__label.js-test-label.js-right-label Игорь Корнеев
                  .test__right.test__right--hidden.js-right
                    span Верно
                    p Лишь один русский играл — и забивал! — за «Барсу» на «Камп Ноу»: Корнеев в середине 1990-х. 
                li.test__item
                  .test__label.js-test-label Александр Мостовой
                li.test__item
                  .test__label.js-test-label Игорь Шалимов
              input.test__btn.js-answer-button(type="button" disabled="true" value="Ответить")
              button.test__btn.test__btn--hidden.js-test-close-button.js-continue-button Продолжить 
              .test__close.js-test-close-button
          span.main__year(data-aos="fade-up" data-aos-delay="100") 1957
          h3.main__head(data-aos="fade-up" data-aos-delay="200") Открытие «Камп Ноу»
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="300") К середине XX века команде стало тесно в старом жилище. Стадион «Лес Кортс» уже не вмещал всех желающих близко соприкоснуться с футбольным грандом. Большой команде нужна была величественная арена, и она её получила. 
          p.main__text(data-aos="fade-up" data-aos-delay="400") Новый красавец-стадион, изначально рассчитанный на 90 тыс. посетителей, открылся в 1957 году и до сих пор считается шедевром спортивной архитектуры. В простонародье арена сразу получила название «Камп Ноу» («новая земля» в переводе с каталонского), но официально это имя ей присвоили только в 2001 году. Почти полстолетия стадион назывался просто Estadio del FC Barcelona. За полвека он пережил две глобальные реконструкции, ЧЕ-1964, ЧМ-1982, Олимпиаду-1992, два финала европейского кубка и массу грандиозных концертов. Таких долгожителей в мире спорта почти не осталось.
          button.btn.main__btn.js-test-button(data-num="1" data-aos="fade-up" data-aos-delay="500") Пройти тест 
        .main__box2
          img(src=require("@/assets/images/main_02.jpg") data-aos="fade-up" data-aos-delay="0")



    .container.main__container.js-section
      .main__item
        a.decor.main__decor.main__decor--3rd(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-right" data-aos-delay="0")
          img(src=require("@/assets/images/zic_bottle2.png"))
          span ТОР состав —
          span основа
        .main__box1
          .test.main__test.test--hidden.js-test
            .test__content
              .test__ques Кто из игроков «Барселоны» первым получил «Золотой мяч»?
              ul.test__list.js-test-list
                li.test__item
                  .test__label.js-test-label.js-right-label Луис Суарес
                  .test__right.test__right--hidden.js-right
                    span Верно
                    p Луис Суарес, да не тот! В 1960-х в «Барсе» блистал полный тёзка звезды современной сборной Уругвая. 
                li.test__item
                  .test__label.js-test-label Йохан Круифф
                li.test__item
                  .test__label.js-test-label Христо Стоичков
                li.test__item
                  .test__label.js-test-label Роналдиньо
              input.test__btn.js-answer-button(type="button" disabled="true" value="Ответить")
              button.test__btn.test__btn--hidden.js-test-close-button.js-continue-button Продолжить 
              .test__close.js-test-close-button
          span.main__year(data-aos="fade-up" data-aos-delay="100") 1980
          h3.main__head(data-aos="fade-up" data-aos-delay="200") Рекордный трансфер Марадоны и «непотопляемый» Нуньес
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="300") Конец 1970-х - начало 1980-х — эпоха — нет, не застоя — благополучной стабильности в жизни «Барсы». Время правления «непотопляемого» президента Нуньеса (22 года у власти!), первых мега-трансферов ($ 8 млн за Марадону — мировой рекорд 1982 года) и возвращения больших побед.
          p.main__text(data-aos="fade-up" data-aos-delay="400") Пускай Марадоне, ровно как Гари Линекеру или Бернду Шустеру, не удалось стать легендами «Камп Ноу», свои страницы в летопись клуба звёздные легионеры вписали. На рубеже десятилетий каталонцы взяли два европейских Кубка кубков за три сезона, а в 1985-м впервые за 11 лет стали чемпионами Испании. Как оказалось, это был разбег перед ещё более впечатляющим взлётом.
          button.btn.main__btn.js-test-button(data-num="2" data-aos="fade-up" data-aos-delay="500") Пройти тест 
        .main__box2
          img(src=require("@/assets/images/main_03.jpg") data-aos="fade-up" data-aos-delay="0")



    .container.main__container.js-section
      .main__item.main__item--reverse
        a.decor.main__decor.main__decor--4th(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-left" data-aos-delay="0")
          img(src=require("@/assets/images/zic_bottle2.png"))
          span TOP состав —
          span основа победы!
        .main__box1
          .test.main__test.test--hidden.js-test
            .test__content
              .test__ques Кто забил исторический гол в финале Кубка чемпионов-1992?
              ul.test__list.js-test-list
                li.test__item
                  .test__label.js-test-label Хосеп Гвардиола
                li.test__item
                  .test__label.js-test-label Хосе Мария Бакеро
                li.test__item
                  .test__label.js-test-label Луис Энрике
                li.test__item
                  .test__label.js-test-label.js-right-label Рональд Куман
                  .test__right.test__right--hidden.js-right
                    span Верно
                    p Как можно забыть пушку Кумана в игре с итальянцами!
              input.test__btn.js-answer-button(type="button" disabled="true" value="Ответить")
              button.test__btn.test__btn--hidden.js-test-close-button.js-continue-button Продолжить 
              .test__close.js-test-close-button
          span.main__year(data-aos="fade-up" data-aos-delay="100") 1988-1996
          h3.main__head(data-aos="fade-up" data-aos-delay="200") Эра Круиффа
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="300") История «Барселоны» неразрывно связана с именем Круиффа. Знаменитый Летучий Голландец дважды приходил на «Камп Ноу», игроком и тренером, но обессмертил себя в Каталонии как идеолог новой футбольной философии. «Барселона» стала вторым и последним самым успешным тренерским проектом Йохана. Четыре года подряд (1991-1994) команде не было равных в Испании, а в 1992-м она наконец доставила в клубный музей недостающую чашу — Кубок европейских чемпионов.
          p.main__text(data-aos="fade-up" data-aos-delay="400") Вклад Круиффа в развитие клуба — это не только рекордные для прошлого века 11 трофеев. Круиффу приписывают авторство «тики-таки» — стиля игры, основанного на тотальном контроле мяча. Йохан изменил философию «Барсы», научил футболистов мыслить и играть по-новому, вывел команду на другой, прежде недостижимый уровень.
          button.btn.main__btn.js-test-button(data-num="3" data-aos="fade-up" data-aos-delay="500") Пройти тест 
        .main__box2
          img(src=require("@/assets/images/main_04.jpg") data-aos="fade-up" data-aos-delay="0")



    .container.main__container.js-section
      .main__item
        a.decor.main__decor.main__decor--1st(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-right" data-aos-delay="0")
          img(src=require("@/assets/images/zic_bottle2.png"))
          span TOP
        .main__box1
          .test.main__test.test--hidden.js-test
            .test__content
              .test__ques Какое прозвище у Месси?
              ul.test__list.js-test-list
                li.test__item
                  .test__label.js-test-label Жук
                li.test__item
                  .test__label.js-test-label Муравей
                li.test__item
                  .test__label.js-test-label.js-right-label Блоха
                  .test__right.test__right--hidden.js-right
                    span Верно
                    p La pulga — блоха по-испански!
                li.test__item
                  .test__label.js-test-label Комар
              input.test__btn.js-answer-button(type="button" disabled="true" value="Ответить")
              button.test__btn.test__btn--hidden.js-test-close-button.js-continue-button Продолжить 
              .test__close.js-test-close-button
          span.main__year(data-aos="fade-up" data-aos-delay="100") 2003-2008
          h3.main__head(data-aos="fade-up" data-aos-delay="200") Пришествие Месси и «дрим-тим» Райкарда
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="300") Франк Райкард был не так успешен с точки зрения трофеев, как славный соотечественник Круифф, но его «барсаманы» тоже вспоминают с ностальгией и благодарностью. За первый триумф в реформированном европейском чемпионате, за магию волшебника Роналдиньо, а особенно — за суперплеяду воспитанников клуба: Пуйоля, Хави,) Иньесту, Вальдеса и, конечно же, Месси. Лео ведь тоже плоть от плоти «Ла Масии», школы клуба.
          p.main__text(data-aos="fade-up" data-aos-delay="400") При всей очевидности дарования аргентинского вундеркинда Райкард крайне деликатно подводил Лео ко взрослому футболу. Между первым выходом Месси в основе и официальным дебютом прошло 11 месяцев. Но когда тренер убедился, что юноша созрел для больших дел, не стал искусственно сдерживать его. За Лео Франку отдельная благодарность — от всего футбольного мира. 
          button.btn.main__btn.js-test-button(data-num="4" data-aos="fade-up" data-aos-delay="500") Пройти тест 
        .main__box2
          img(src=require("@/assets/images/main_05.jpg") data-aos="fade-up" data-aos-delay="0")



    .container.main__container.js-section
      .main__item.main__item--reverse
        a.decor.main__decor.main__decor--2nd(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-left" data-aos-delay="0")
          img(src=require("@/assets/images/zic_bottle2.png"))
          span ТОР состав
        .main__box1
          .test.main__test.test--hidden.js-test
            .test__content
              .test__ques На какой позиции играл в «Барселоне» сам Гвардиола?
              ul.test__list.js-test-list
                li.test__item
                  .test__label.js-test-label Вратарь
                li.test__item
                  .test__label.js-test-label Защитник
                li.test__item
                  .test__label.js-test-label.js-right-label Полузащитник
                  .test__right.test__right--hidden.js-right
                    span Верно
                    p Пеп с юности привык быть в центре — поля и внимания.
                li.test__item
                  .test__label.js-test-label Нападающий
              input.test__btn.js-answer-button(type="button" disabled="true" value="Ответить")
              button.test__btn.test__btn--hidden.js-test-close-button.js-continue-button Продолжить 
              .test__close.js-test-close-button
          span.main__year(data-aos="fade-up" data-aos-delay="100") 2008-2012
          h3.main__head(data-aos="fade-up" data-aos-delay="200") 14 трофеев Гвардиолы
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="300") Одни называют Гвардиолу гением, другие — везунчиком, которому посчастливилось совпасть во времени и пространстве с исключительным поколением игроков. Наверное, отчасти правы и те, и другие. Проверить тренерские способности Пепа на более скромных командах не было возможности — и уже, наверное, не будет. В любом случае отрицать колоссальный вклад Гвардиолы в историю «благруана» глупо. 14 трофеев сами себя не выиграли бы. Пять из них Пеп взял в 2009 году — уникальное достижение, которое не покорялось никому в Европе. 
          p.main__text(data-aos="fade-up" data-aos-delay="400") Хосеп усовершенствовал игровую систему Круиффа и нашёл подход к группе фантастически одарённых молодых людей, объединил их в единый коллектив. Благодаря этому и превзошёл учителя Йохана. И да, только Пеп брал европейский кубок с «Барсой» игроком и тренером. Ну разве не великий?
          button.btn.main__btn.js-test-button(data-num="5" data-aos="fade-up" data-aos-delay="500") Пройти тест 
        .main__box2
          img(src=require("@/assets/images/main_06.jpg") data-aos="fade-up" data-aos-delay="0")



    .container.main__container.js-section
      .main__item
        a.decor.main__decor.main__decor--3rd(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-right" data-aos-delay="0")
          img(src=require("@/assets/images/zic_bottle2.png"))
          span TOP состав —
          span основа
        .main__box1
          .test.main__test.test--hidden.js-test
            .test__content
              .test__ques Сколько футбольных полей можно разместить на территории завода SK Lubricants в Ульсане?
              ul.test__list.js-test-list
                li.test__item
                  .test__label.js-test-label 0
                li.test__item
                  .test__label.js-test-label 100
                li.test__item
                  .test__label.js-test-label 500
                li.test__item
                  .test__label.js-test-label.js-right-label 1000+
                  .test__right.test__right--hidden.js-right
                    span Верно
                    p Площадь крупнейшего в мире нефтеперерабатывающего завода, где производят ZIC — более 8 км². Это больше 1000 футбольных полей!
              input.test__btn.js-answer-button(type="button" disabled="true" value="Ответить")
              button.test__btn.test__btn--hidden.js-test-close-button.js-continue-button Продолжить 
              .test__close.js-test-close-button
          span.main__year.main__year--gold(data-aos="fade-up" data-aos-delay="100") 2018
          h3.main__head.main__head--gold(data-aos="fade-up" data-aos-delay="200") Начало сотрудничества «Барселоны» с ZIC
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="300") В 2018 году случилось ещё одно важное событие для «Барселоны». Каталонский клуб заключил спонсорский контракт с брендом ZIC, принадлежащим южнокорейской компании SC Lubricants, одному из крупнейших производителей смазочных материалов в мире. Соглашение охватывает пять стран, в том числе Россию. В нашей стране моторное масло SK ZIC было названо «Национальным брендом» ещё в 2017 году.  
          p.main__text(data-aos="fade-up" data-aos-delay="400") «Благодаря спонсорству мы планируем повысить узнаваемость наших премиальных продуктов и глобальные продажи, а также осведомлённость болельщиков о лучшем футбольном клубе мира», — отметили в SK Lubricants. В свою очередь сине-гранатовые сделали большой шаг на пути освоении азиатского рынка.
          button.btn.main__btn.js-test-button(data-num="6" data-aos="fade-up" data-aos-delay="500") Пройти тест
        .main__box2
          img(src=require("@/assets/images/main_07.jpg") data-aos="fade-up" data-aos-delay="0")



    .container.main__container.js-section
      .ball.js-ball
        //- img(src=require("@/assets/images/ball.png"))
      .main__item.main__item--reverse
        a.decor.main__decor.main__decor--4th(href="http://zicoil.ru/top?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-left" data-aos-delay="0")
          img(src=require("@/assets/images/zic_bottle2.png"))
          span TOP состав —
          span основа победы!
        .main__box1
          .test.main__test.test--hidden.js-test
            .test__content
              .test__ques Сколько европейских и мировых трофеев выиграла «Барса»?
              ul.test__list.js-test-list
                li.test__item
                  .test__label.js-test-label 10
                li.test__item
                  .test__label.js-test-label 15
                li.test__item
                  .test__label.js-test-label.js-right-label 20
                  .test__right.test__right--hidden.js-right
                    span Верно
                    p 5 титулов европейского чемпионата + 4 Кубка + 3 Кубка ярмарок + 5 Суперкубков + 3 клубных ЧМ.
                li.test__item
                  .test__label.js-test-label 25
              input.test__btn.js-answer-button(type="button" disabled="true" value="Ответить")
              button.test__btn.test__btn--hidden.js-test-close-button.js-continue-button Продолжить 
              .test__close.js-test-close-button
          span.main__year(data-aos="fade-up" data-aos-delay="100") 2014-2020
          h3.main__head(data-aos="fade-up" data-aos-delay="200") Великое трио MSN
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="300") Приобретение уругвайского супербомбардира Суареса в 2014 году позволило «Барселоне» сформировать, пожалуй, самую бронебойную атакующую связку в истории футбола. Испанские журналисты назвали её MSN — по заглавным буквам фамилий главных героев: Месси — Суарес — Неймар.
          p.main__text.main__text--mb(data-aos="fade-up" data-aos-delay="400") Было бы странно, если бы они не зажгли вместе. Пиком той незабываемой «Барсы» стал 2015 год. Разбив в финале итальянцев, «Барселона» в пятый раз завоевала Кубок чемпионов и получила оригинал навечно. 
          p.main__text(data-aos="fade-up" data-aos-delay="500") В 2017 году тройка трансформировалась в дуэт Месси - Суарес, который ещё три сезона восхищал «Камп Ноу» и приводил в ужас соперников.Сообща друзья Луис и Лео настреляли кучу голов, выиграли ещё четыре трофея и только летом 2020-го расстались.
          button.btn.main__btn.js-test-button(data-num="7" data-aos="fade-up" data-aos-delay="600") Пройти тест 
        .main__box2
          img(src=require("@/assets/images/main_08.jpg") data-aos="fade-up" data-aos-delay="0")



    .team.js-section
      .container.team__container
        p.team__text(data-aos="fade-right" data-aos-delay="0") Сейчас футбольный клуб «Барселона» — это мировой бренд<br> с лучшими футболистами планеты в составе. Именно они ведут команду к новым победам.<br> А в составе ZIC TOP собраны уникальные компоненты, которые заботятся о вашем автомобиле.<br> Инновационное моторное масло изготавливают на основе полиальфаолефинов (ПАО) и собственного<br> синтетического базового масла Yubase+ в сочетании с современным пакетом присадок. 
        p.team__text.team__text--gold(data-aos="fade-right" data-aos-delay="100")
          span Увеличивает топливную экономичность
          span Надёжно защищает от износа
          span Обладает превосходным ресурсом
          span Устойчив к расходу на угар
        .team__image(data-aos="fade-up" data-aos-delay="200")
          img(src=require("@/assets/images/team.png"))
        span.team__slogan(data-aos="fade-right" data-aos-delay="300") «ZIC TOP. Состав – основа победы»
        a.team__btn.btn(href="https://zicoil.ru/top/?utm_source=Championat&utm_medium=SP&utm_content=2021&utm_campaign=ZIC_TOP_NL" target="blank" data-aos="fade-up" data-aos-delay="400" data-aos-anchor-placement="top-bottom") Узнать больше
        a.arrow-link.team__link.js-arrow-up-button
          <svg width="45" height="45" fill="none" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg">
            <circle fill="transparent" cx="22.5" cy="22.5" r="22" transform="rotate(90 22.5 22.5)" stroke="white"/>
            <path d="M22.1464 32.2593C22.3417 32.4545 22.6583 32.4545 22.8535 32.2593L26.0355 29.0773C26.2308 28.882 26.2308 28.5654 26.0355 28.3702C25.8403 28.1749 25.5237 28.1749 25.3284 28.3702L22.5 31.1986L19.6716 28.3702C19.4763 28.1749 19.1597 28.1749 18.9645 28.3702C18.7692 28.5654 18.7692 28.882 18.9645 29.0773L22.1464 32.2593ZM22 13.0942L22 31.9057L23 31.9057L23 13.0942L22 13.0942Z" fill="#D8A745"/>
          </svg>
        span.team__spec Спецпроект



    //- footer.footer.js-section.fp-auto-height
    //-   .container.footer__container
        //- a.footer__link(href="#")
        //-   <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-     <path d="M31.9878 21.25C30.7023 21.25 29.4119 21.7266 28.4329 22.675L27.5006 23.5755L26.5682 22.6849C24.6103 20.7881 21.4265 20.7881 19.4685 22.6849C17.5105 24.5817 17.5105 27.6559 19.4685 29.5527C21.9932 31.9985 24.5148 34.4496 27.0395 36.8954C27.1005 36.955 27.1731 37.0022 27.2531 37.0345C27.3331 37.0667 27.419 37.0833 27.5057 37.0833C27.5924 37.0833 27.6782 37.0667 27.7582 37.0345C27.8382 37.0022 27.9108 36.955 27.9718 36.8954L35.5326 29.5428C37.4879 27.6446 37.4904 24.5718 35.5326 22.675C34.5535 21.7266 33.2734 21.25 31.9878 21.25ZM31.9878 22.5068C32.9333 22.5068 33.88 22.8579 34.6105 23.5656C36.0714 24.981 36.0705 27.2349 34.6105 28.6522L27.5006 35.5397C25.1326 33.2458 22.7584 30.9559 20.3906 28.662C18.9295 27.2467 18.9295 24.991 20.3906 23.5755C21.8516 22.1602 24.175 22.1601 25.636 23.5755L27.0293 24.9214C27.0903 24.9809 27.1629 25.0282 27.2429 25.0604C27.3229 25.0927 27.4087 25.1093 27.4954 25.1093C27.5821 25.1093 27.668 25.0927 27.748 25.0604C27.828 25.0282 27.9006 24.9809 27.9616 24.9214L29.3651 23.5656C30.0957 22.8579 31.0424 22.5068 31.9878 22.5068Z" fill="white"/>
        //-     <circle cx="28" cy="28" r="27.5" stroke="white"/>
        //-   </svg> 
        //- span.footer__text Спецпроект
  //- .ball.js-ball
    //- video.js-video-right.hide(muted src=require("@/assets/video/right.webm")) 
    //- video.js-video-falling.hide(muted src=require("@/assets/video/falling.webm")) 
    //- img(src=require("@/assets/images/ball.png"), alt="")